mixin header()  
  .header
    .header-container
      .logo 
        a(href="/") 💻
      ul.page-list
        li
          a(href="/about") About
        li 
          a(href="/blog") Blog
        li 
          a(href="/projects") Projects

mixin footer()
  .footer
    .links
      a(href="https://twitter.com/clinckzone" alt="Twitter").fa.fa-twitter
      a(href="https://www.youtube.com/user/MrDivyanshu33" alt="Youtube").fa.fa-youtube
      a(href="https://www.behance.net/divyanshu33" alt="Behance").fa.fa-behance
      a(href="https://github.com/clinckzone" alt="Github").fa.fa-github
      a(href="https://www.linkedin.com/in/divyanshu-tiwari33/" alt="Linkedin").fa.fa-linkedin

mixin card(content)
  a(href=content.link)
    li.card
      img(src=content.source)
      h3=content.title
      span=content.keywords[0]
      span=content.keywords[1]
      span=content.keywords[2]
      p=content.description